
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E7EBED;
}

.box {
    height: 100vh;
}

.chat_box {
    position: relative;
    background: #F4F5FA;
    height: 80%;
    /*width: 300px;*/
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;


}


.header {
    border-bottom: 1px solid #929090;
}

form {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;


}

.chat_content {
    position: absolute;
    left: 20px;
    right: 10px;
    bottom: 70px;
    max-height: calc(100% - 140px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.chat_content::-webkit-scrollbar {
    display: none;
}


.chat_content .chat_content_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat_content .chat_content_inner .sender, .receiver {
    padding: 10px 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);*/
}

.chat_content .chat_content_inner .sender {
    max-width: calc(100% - 80px);
    background: #F2F2F2;
    margin-left: 70px;
    border-top-left-radius: 10px;
}

.chat_content .chat_content_inner .receiver {
    max-width: calc(100% - 80px);
    background: #EFEEFD;
    border-top-right-radius: 10px;
    overflow-wrap: anywhere;
}

form input {
    flex-grow: 1;
    border-radius: 30px !important;
    margin-right: 10px;
    background: #F2F2F2 !important;
}