<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBot</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h3 class="alert alert-primary text-center">Welcome to Waysis Bot</h3>

    <div class="row g-3 mt-3 d-flex flex-column align-items-center">
        <div class=" col-12 col-sm-8 col-md-6 ">
            <a href="corpus/" class="btn btn-primary alert form-control">Chat With Chatterbot Corpus</a>
        </div>
        <div class=" col-12 col-sm-8 col-md-6">
            <a href="waysis/" class="btn btn-primary alert form-control">Chat With Waysis</a>
        </div>
        <div class=" col-12 col-sm-8 col-md-6">
            <a href="admin/" class="btn btn-primary alert form-control">Go To Admin Panel</a>
        </div>
    </div>
</div>



</body>
</html>